<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Duoc UC Alumnos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <hr>
      <ion-title>Bienvenido [nombre_usuario]</ion-title>
      
      <div class="button-container">
        <ion-button (click)="mostrarTexto()">Leer QR</ion-button>
      </div>
      <p id="mensaje">{{ mensaje }}</p> <!-- Mostrar el mensaje aquí -->
    </ion-toolbar>
  </ion-header>
</ion-content>
