ion-content {
    display: flex;
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
    padding: 20px;
  }
  
  .form-container {
    width: 100%;
    max-width: 400px; /* Ancho máximo del contenedor */
    padding: 20px;
  }
  