<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-title">Inicio de Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <link rel="stylesheet" href="login.page.scss"> 
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Bienvenido</ion-card-title>
        <p class="login-subtitle">Por favor, inicie sesión en su cuenta</p>
      </ion-card-header>
      <ion-card-content>
        <form (submit)="loginUser($event)">
          <ion-item>
            <ion-label position="floating">Nombre de Usuario</ion-label>
            <ion-input type="text" placeholder="Ingrese su nombre de usuario" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" placeholder="Ingrese su contraseña" required></ion-input>
          </ion-item>

          <ion-text color="primary">
            <p class="forgot-password">¿Olvidaste tu contraseña?</p>
          </ion-text>

          <ion-button expand="block" type="submit" class="login-button">Iniciar sesión</ion-button>
        </form>

        <div class="register-link">
          <p>¿No tienes cuenta? <a href="#">Regístrate aquí</a></p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
