<ion-content>
  <div class="login-container">
    <h2>Iniciar Sesión</h2>

    <form>
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" required></ion-input>
      </ion-item>

      <ion-button expand="full" type="submit">Iniciar Sesión</ion-button>
    </form>

    <div class="register-option">
      <p>No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a></p>
    </div>
  </div>
</ion-content>

<style>
  .login-container {
    padding: 20px;
    text-align: center;
  }

  .register-option {
    margin-top: 20px;
  }
</style>
