<ion-header [translucent]="true" class="ion-no-border">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/711px-Logo_DuocUC.svg.png" alt="Logo" class="logo">
    
    <h1>Sistema de registros de asistencia</h1>
    <h3>Seleccione una opción</h3>
    <div class="btn-group">
      <ion-button class="btn" (click)="navigateTo('login')">Docentes</ion-button>
      <ion-button class="btn" (click)="navigateTo('login')">Alumnos</ion-button>
    </div>
  </div>
</ion-content>
